<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>登陆界面</title>
<style type="text/css">
		header,nav,article,footer{border: solid 1px #111;padding: 10px;margin: 1px;}
		.container{
		    min-height:100vh;
		    display:flex
		}
		header{background:#F00; color:#FFF; align="center";width: 500px;}
		nav{float: left;width: 60px;flex:1}
		article{float: left;width: 406px;flex:1}
		footer{clear: both;width: 500px;}
		
		
	</style>
</head>
<body>
    <h1>登陆失败！<a href="/user/logout"><font color="blue">返回</font></a></h1>
</body>
</html>